@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sen:wght@400..800&display=swap');
@import "tailwindcss";
.lightfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #7C7C7C;
  font-size: 14px;
}

.mediumfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #9F9F9F;
}

.darkfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #494949;
  font-size: 24px;
}

.title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #494949;
}
.contentfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #494949;
  font-size: 16px;
}

.buttonbgcolor{
  background-color: #2C2C2C;
  border: 1px solid #2C2C2C;
  color: #F5F5F5;
}

.borderbutton {
  background-color:#F8F8F8 ;
  border: 1px solid #303030;
  color: #303030;
}